@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 1em;
  margin: 0 1em;
  align-items: center;
  border-bottom: solid 3px #f2a23c;
}

.nav-logo {
  display: inline-block;
  width: 49%;
  text-align: right;
  padding-right: 1em;
}

.nav-logo img {
  display: inline-block;
  width: 105px;;
}

.nav {
  display: inline-block;
  width: 49%;
  border-left: solid 3px #999;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li {
  /* margin: .75em 0; */
}

.nav a {
  display: block;
  text-decoration: none;
  padding: .5em;
  color: black;
}

.nav a:hover {
  background-color: #ffc984;
  color: #777;
  border-radius: 1px;
}

.music {
  margin: 5em 1em;
}

.spotify-player {
  display: block;
  width: 100%;
  margin: 3em auto;
}

.apple-player {
  display: block;
  width: 100%;
  margin: 3em auto;
}

.more {
  display: block;
  text-align: center;
}

.more-streaming {
  text-align: center;
  text-decoration: none;
  color: #777;
  /* background-color: #f2a23c; */
  padding: 1em 2em;
  border-radius: 1px;
}

.more-streaming:hover {
  color: #777;
  background-color: #ffc984;
}

footer {
  display: block;
  text-align: center;
  margin: 1em;
  border-top: solid 3px #f2a23c;
}

.social-links {
  display: block;
  width: 140px;
  text-decoration: none;
  margin: 0 auto;
  padding: 1em 1em .5em 1em;
}

footer p {
  margin: 1em 0 0;
}
.social-links .insta-follow {
  display: block;
  width: 100px;
}

.social-links:hover {
  background-color: #ffc984;
}

@media only screen and (min-width: 38em) {

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    width: 30%;
  }

  .nav {
    width: 50%;
  }

  .music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .spotify-player, .apple-player {
    display: inline-block;
    width: 45%;
  }

  .more {
    width: 100%;
  }
}
