@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.25;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 1em;
  margin: 0 1em;
  align-items: center;
  border-bottom: solid 3px #f2a23c;
}

.nav-logo {
  display: inline-block;
  width: 49%;
  text-align: right;
  padding-right: 1em;
}

.nav-logo img {
  display: inline-block;
  width: 105px;
  transition-property: width;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.nav-logo img:hover {
  width: 115px;
}

.nav {
  display: inline-block;
  width: 49%;
  border-left: solid 3px #999;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li {
  /* margin: .75em 0; */
}

.nav a {
  display: block;
  text-decoration: none;
  padding: .5em;
  color: black;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.nav a:hover {
  background-color: #ffc984;
  color: #777;
  border-radius: 1px;
}

.home-banners h3,
.home-banners p{
  color: #fff;
  background-color: black;
}

.home-banners a {
  opacity: 0.75;
}

.home-banners a:hover {
  opacity: 0.35;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}


.img-flex img {
  width: 100%;
}

.s-2 {
  width: 100%;
}

.out-now img{
  width: 50%;
  max-width: 500px;
}

.g-card {
  background-color: #f2f2f2;
  padding: .75em .75em 1em .75em;
  box-shadow: 0px 2px 8px #cccccc;
  transition-property: background, box-shadow;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

.about-card {
  background-color: #f2f2f2;
  padding: .75em .75em 1em .75em;
  box-shadow: 0px 2px 8px #cccccc;
}

.about p {
  font-family: 'Open Sans', sans-serif;
}

.graphics-section h3, p {
  color: black;
}

.graphics-section h3 {
  margin-bottom: 0;
  color: #f2a23c;
}

.g-card:hover {
  background-color: #ededed;
  box-shadow: 0px 4px 10px #aaaaaa;
}

/* **********MUSIC********** */
.music {
  margin: 1em 1em 5em 1em;
}

.spotify-player {
}

.apple-player {
}

.more {
  display: block;
  text-align: center;
}

.more-streaming {
  text-align: center;
  text-decoration: none;
  color: #777;
  /* background-color: #f2a23c; */
  padding: 1em 2em;
  border-radius: 1px;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

.more-streaming:hover {
  color: #777;
  background-color: #ffc984;
}

footer {
  display: block;
  text-align: center;
  margin: 1em;
  border-top: solid 3px #f2a23c;
}

.social-links {
  display: inline-block;
  /* width: 140px; */
  text-decoration: none;
  margin: 0 auto;
  padding: 1em 1em .6em;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: ease-out;
}

footer p {
  margin: 1em 0 0;
}
.social-links .insta-follow {
  display: inline-block;
  width: 110px;
}

.social-links:hover {
  background-color: #ffc984;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-logo {
    width: 30%;
  }

  .nav {
    width: 50%;
  }

  .nav li {
    display: inline-block;
  }

  .more {
    width: 100%;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .about-me {
    position: relative;
  }

  .content {
    display: inline-block;
    width: 66%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
