@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 1em 0;
}

.nav-logo {
  display: inline-block;
  width: 49%;
  text-align: right;
  padding-right: .5rem;
}

.nav-logo img {
  width: 80%;
  vertical-align: baseline;
}

.nav {
  display: inline-block;
  width: 49%;
  padding-left: .5rem;
  border-left: solid 3px black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li {
  margin: .75em 0;
  color: black;
}

.nav a {
  text-decoration: none;
  padding: .5em 100% .5em 1em;
}

.nav a:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
